.header{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.header img{
    justify-content: center;
}
.cards {
    transition: all 0.2s ease;
    cursor: pointer;
}
.cards h6 {
    font-weight:lighter;
}
.cards:hover {
    transform: scale(1.1);
    background-color: black;
}

.cards:hover h6 {
    font-weight:lighter;
    color: white;
}